# Exercise 0: Google your favorite comic strip. Make a markdown cell that contains the following: 
* Top level heading that says "My favorite comic ever"
* Separate bullet points for the name of the comic (in bold text), the name of the author (in italic text), and the year it was published
* Insert a hyperlink to the comic
* Bonus: google "embed image jupyter notebook" and click on the first stackoverflow link (should be top link, for me at least). Figure out how to embed the image directly into your notebook

# My favorite comic ever
* **Calvin and Hobbes**
* *Bill Waterson*
* 07.30.1989

[link here](https://a5429991-a-62cb3a1a-s-sites.googlegroups.com/site/top25calvinandhobbesstrips/home/ch890730.gif?attachauth=ANoY7cpec3q6svEzQvqttgFpdiI0qpu5iI1tvs79BOHPNzgBlJgqm2oA5h62rNw0HaTJ4ceHW3QAfuVlFwa_PfhZtF1nUhDmj9ZKaELyeQSzSIwNA2EnaYyz0tKLbh5JDHvEmhA-64AnPrbT1Ks96FIOWAgCo0VjBs0F4e0e81Y6J-sMjxUaNMoabS9eT4zJ8M26Deg-udeUWCR5lzDHK0oGf3N-kyx2hYii43TZQgsDB3dyPzhzjm4%3D&attredirects=0)

![title](ch890730.gif)

## Exercise 1: Assign the following strings to variables and then print them out
* My name is Ted
* Roy is old, but still a better leader than Jamie
* In response, he said "but what if I wear the red trainers?"
* They both love Keeley, what'll she do???

Then take your last string (i.e., They both love Keeley, what'll she do???) and print the 1st letter (T), the fourth to last letter (o), and the 6th letter (b)

In [6]:
# 1
s = 'My name is Ted'
print(s)

# 2
s = 'Roy is old, but still a better leader than Jamie'  # or "Roy is old, but still a better leader than Jamie"
print(s)

# 3
s = 'In response, he said "but what if I wear the red trainers?"'
print(s)

# 4
s = "They both love Keeley, what'll she do???"
print(s)

# 5
print(s[0])
print(s[-3])
print(s[5])

My name is Ted
Roy is old, but still a better leader than Jamie
In response, he said "but what if I wear the red trainers?"
They both love Keeley, what'll she do???
The
?
b

Correct output: 

My name is Ted
Roy is old, but still a better leader than Jamie
In response, he said "but what if I wear the red trainers?"
They both love Keeley, what'll she do???
T
?
b

## Exercise 2

### Print the number of *seconds* it would take you to fold 1000 pizza boxes if you were able to maintain the world record pace of 14 pizza boxes in one minute indefinitely.
* [link here](https://www.guinnessworldrecords.com/world-records/103587-most-pizza-boxes-folded-in-one-minute)

**Bonus**: see if you can find a way to print the decimal only to the tenth's place. Google "python round" and see if you can figure it out

In [7]:
## write code here

# how much time, in seconds
t = (1000/14) * 60
print(t)

# round to 1 digit to the right of the decimal
round(t, 10)

4285.714285714286

4285.7142857143

Correct output: 4285.714285714286 (4285.7 for bonus)

## Exercise 3

### Imagine you have a data set that is 'csv' format (comma separate value) where each data point (a word) is seperated by commas. Given the example string below, alphabetize the words and print the last word in the alphabetized list. Hint: first convert to a list (hint in a hint - use 'split'), then sort the list, the find the last entry.

In [2]:
words = 'banana,peanut,xylophone,aardvark,foot,python'
# insert code here

# make a list, split on comma
lst = words.split(',')

# sort in place (or lst = sorted(lst))
lst.sort()

# print last item
lst[-1]

'xylophone'

Correct output: xylophone

## Exercise 4 (Challenge Problem - data cleaning)

### Now imagine that you have a data set where the words are already stored in a list with each element being one word, but there is an inexplicable number of spaces at the start or end of each word. Before you can deal with the data you need to clean the spaces so your can determine the shortest word in the list.

Hints:
* Use 'join' to convert the list into a single string. 
* Remove all the blank spaces using the 'replace' method [here](https://www.geeksforgeeks.org/python-string-replace/). Note that " " is how you indicate an empty space, so replace all of those with just "" (nothing)
* Use 'split' to convert your single string back into a list (split based on ',')
* The *sorted* function has an optional argument *key* that you can pass a function to such that *sorted* uses that function to determine the order of sorting (see documentation [here](https://docs.python.org/3/howto/sorting.html)). Sort based on word length (len)

In [4]:
words_lst = ['banana ', ' peanut  ', 'xylophone  ', 'aardvark  ', 'foot       ', 'python    ']
# insert code here

# join the members of the list into a single string
s = ','.join(words_lst)
print(s)

# replace the " " (empty spaces) with nothing
s = s.replace(" ", "")

# split back to a list
new_lst = s.split(',')

# sort by length!
print(sorted(new_lst, key=len))

banana , peanut  ,xylophone  ,aardvark  ,foot       ,python
['foot', 'banana', 'peanut', 'python', 'aardvark', 'xylophone']

Correct output: foot